<header>
  <h1 class="title">エロ動画サイト</h1>
  <h1 class="title">１ちゃんねる</h1>
  <a href="/index"class="popular" type="button">TOPページ</a>
  <a href="/popular" class="popular" type="button">人気の動画</a>
  <a href="/new-move"class="popular" type="button">新着の動画</a>
  <a onclick="location.href='https://www.moodyz.com/actress/'"class="popular" type="button">人気のAV女優</a>
  <input type="search" name="word" id="shortcutSearch" class="form-control mr-sm-2" placeholder="フリーワード" aria-label="フリーワード">
  <button type="submit" class="btn page-link text-dark d-inline-block my-2 my-sm-0">検索</button>
</header>
