<div class="midad">
  <div class="mozi">
    <iframe src="https://www.ppc-direct.com/index14.html?affid=218193"  width="450" height="20" frameborder="no" scrolling="no" title="テキストバナー"></iframe>
  </div>
  <div class="dekame">
    <iframe src="https://www.ppc-direct.com/index8.html?affid=218193" width="700" height="200" frameborder="no" scrolling="no" title="バナー"></iframe>
  </div>
  <iframe src="https://www.ppc-direct.com/index13.html?affid=218193" width="450" height="20" frameborder="no" scrolling="no" title="テキストバナー"></iframe>
</div>
