<div class="banar">
  <iframe src="https://www.mmaaxx.com/genre/944400X/index300250.html?affid=218193?genre=mania" width="300" height="250" frameborder="no" scrolling="no"></iframe>
  <iframe src="https://www.ppc-direct.com/index2.html?affid=218193" width="300" height="250" frameborder="no" scrolling="no" title="バナー"></iframe>
  <a href="https://click.dtiserv2.com/Click/2022011-22-218193" target="_blank" rel="noopener"><img src="https://affiliate.dtiserv.com/image/webmaster/2022011_b.gif" border="0"></a>
</div>
<div class="mozi">
  <iframe src="https://www.ppc-direct.com/index14.html?affid=218193"  width="450" height="20" frameborder="no" scrolling="no" title="テキストバナー"></iframe>
</div>
<div class="dekame">
  <iframe src="https://www.ppc-direct.com/index8.html?affid=218193" width="700" height="200" frameborder="no" scrolling="no" title="バナー"></iframe>
</div>
<iframe src="https://www.ppc-direct.com/index13.html?affid=218193" width="450" height="20" frameborder="no" scrolling="no" title="テキストバナー"></iframe>
