<div id="side" class="side-bar">
  <p>人気のコンテンツ</p>
  <lu>
    <li>コンテンツ</li>
    <li>コンテンツ</li>
    <li>コンテンツ</li>
    <li>コンテンツ</li>
    <li>コンテンツ</li>
    <li>コンテンツ</li>
  </lu>

</div>
